body {
  font-family: Releway, Roboto;
  color: #212121;
  background-color: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #212121;
}
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
}
.social-links {
  color: #212121;
}
.social-links,
.link:hover,
.link:focus {
  color: #2196f3;
}
.button {
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #000;
}
.footer {
  background-color: #2f303a;
  color: rgba(255, 255, 255, 60%);
}
.site-nav .link.current {
  color: #2196f3;
}
